#logo {
    color: #9d3a10;
    font-weight: 900;
    font-size: 2rem;
}

#title {
    font-size: 1.625rem;
    line-height: 1.1;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}